/* 
************************
* Basic styles
************************  
*/

/* Variable */
:root{
    --full-black-text: #000000;
    --full-white-text: #FFFFFF;
    --nearby-white: #F5F4FA;
    --gray-black-text: #212121;
    --grey-text: #757575;

    --blue-color: #2196F3;

    --black-color-background: #2F303A;
    --white-color-background: #E5E5E5; /* why in Figma show this color*/
    --gray-background: #F5F4FA;
}

/* Standard features */
body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: var(--gray-black-text);
    letter-spacing: 0.03em;
}

/* Delete all points near the list of items */
.list{    
    list-style: none;    
}

/* Remove from visible space */
.none-visualisation {
    display: none;
}

/* 
************************
* Class styles
************************  
*/

/* Logo */
.logo{    
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: var(--full-black-text);
    line-height: 1.19;
    text-decoration: none;
}

.blue-text-logo{
    color: var(--blue-color);
}

.logo:hover,
.logo:focus{
    color: var(--blue-color);
}

/* Header - navigator */
.site-nav .link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--gray-black-text); 
}

.site-nav .link:hover,
.site-nav .link:focus{    
    color: var(--blue-color);
}

.site-nav .link.current{
    color: var(--blue-color);
}

/* Header - contacts */
.contact .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--grey-text);    
}

.contact .link:hover,
.contact .link:focus {
    color: var(--blue-color);
}

/* Footer */
.footer-features{
    background-color: var(--black-color-background);
}

.logo .white-text-logo{
    color: var(--full-white-text);
}

.dev-adrress{
    color: var(--full-white-text);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
}

.dev-contact{
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;   
}

.dev-contact:hover,
.dev-contact:focus{
    color: var(--full-white-text)
}

/* 
************************
* index.html styles
************************  
*/

/* ***Main sections*** */
/* Hero section */
.hero-section{
    background-color: var(--black-color-background)
}

.main-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;    
    color: var(--full-white-text);
}

.order-button{
    font-weight: 700;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    
    color: var(--full-white-text);

    background-color: var(--blue-color);

    cursor: pointer;
}

.order-button:hover,
.order-button:focus{
    background-color: #188CE8;
}

/* Benefit section */
.job-task-section{
    background-color: var(--full-white-text);
}

.benefit-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;     
}

.benefit-discr{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
            
    color: var(--grey-text);
}

/* Work list and team sections*/
.work-list-section {
    background-color: var(--full-white-text);
}

.team-section{
    background-color: var(--gray-background);
}

.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.person-name{
    font-weight: 500;
    line-height: 1.19;
    text-align: center;
}

.person-position{
    font-weight: 400;        
    line-height: 1.19;
    text-align: center;
    color: var(--grey-text);
}

/* 
************************
* portfolio.html styles
************************  
*/
/* .portfolio-section{
    background-color: var(--white-color-background);
} */

.portfolio-buttons{
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: 1.62;
    text-align: center;
    text-decoration: none;
    color: var(--gray-black-text);

    background-color: var(--nearby-white);

    cursor: pointer;
}

.portfolio-buttons.main{
    color: var(--full-white-text);
    background-color: var(--blue-color);
}

.portfolio-buttons:hover,
.portfolio-buttons:focus{
    color: var(--full-white-text);

    background-color: var(--blue-color);
}

.without-decor{
    text-decoration: none;
}

.portfolio-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;    
    color: var(--gray-black-text);    
}

.portfolio-direction{
    font-weight: 400;
    line-height: 1.88;        
    color: var(--grey-text);    
}